<p-drawer
  header="Location"
  [visible]="visible"
  (visibleChange)="onVisibleChange($event)"
  position="right"
>
  <div class="flex flex-col gap-4">
    <p-iconfield>
      <p-inputicon styleClass="pi pi-map-marker" />
      <input
        type="text"
        pInputText
        placeholder="Address"
        [formControl]="address"
      />
    </p-iconfield>

    <p-iconfield>
      <p-inputicon styleClass="pi pi-map-marker" />
      <input
        type="text"
        pInputText
        placeholder="Google Maps URL"
        [formControl]="mapsUrl"
      />
    </p-iconfield>

    <p-iconfield>
      <p-inputicon styleClass="pi pi-map-marker" />
      <input
        type="text"
        pInputText
        placeholder="Latitude"
        [formControl]="latitude"
      />
    </p-iconfield>

    <p-iconfield>
      <p-inputicon styleClass="pi pi-map-marker" />
      <input
        type="text"
        pInputText
        placeholder="Longitude"
        [formControl]="longitude"
      />
    </p-iconfield>
    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="visible = false" />
      <p-button label="Save" (click)="visible = false" />
    </div>
  </div>
</p-drawer>
