<div
  class="overflow-hidden transition shadow-xl bg-zinc-900 rounded-2xl hover:shadow-2xl"
>
  <img
    src="https://content-us-1.content-cms.com/9b3f67ef-5a9f-4acc-8ce8-bcc27fa681c7/dxresources/97b4/97b468f3-29bc-4387-99b3-d7886c38a587.png"
    alt="Evento"
    class="object-cover w-full h-40"
  />
  <div class="p-4 space-y-2">
    <h3 class="text-lg font-bold">Fiesta Neon 2025</h3>
    <p class="text-sm text-gray-400">
      Una noche llena de luces y beats electrónicos
    </p>
    <div class="text-sm text-gray-300">
      <p><span class="font-semibold">Fecha:</span> 22 de junio, 2025</p>
      <p><span class="font-semibold">Hora:</span> 10:00 PM</p>
      <p><span class="font-semibold">Artista:</span> DJ Luminous</p>
      <p><span class="font-semibold">Club:</span> BlackBox Club</p>
    </div>
  </div>
</div>
