<div class="flex flex-col gap-4">
  <p-drawer
    [header]="clubSelected ? 'Edit Club' : 'Create Club'"
    [(visible)]="showForm"
    position="right"
    class="bg-gray-950"
  >
    <add-club [clubSelected]="clubSelected" (onSave)="onSavedClub()" />
  </p-drawer>

  <div class="flex items-center justify-between">
    <p-button icon="pi pi-plus" label="Agregar" (click)="showForm = true" />
    <form (submit)="search()" class="flex items-center gap-3">
      <input
        type="text"
        pInputText
        name="filter"
        [(ngModel)]="filter"
        placeholder="Filtrar por nombre"
      />
      <p-button type="submit" icon="pi pi-search" label="Buscar" />
    </form>
  </div>
  <p-table
    [value]="clubsFiltered"
    [loading]="isLoading"
    [paginator]="true"
    [rows]="10"
  >
    <ng-template #header>
      <tr>
        <th>Club</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template #body let-product>
      <tr>
        <td>
          <div class="flex flex-row items-center gap-2">
            <img
              [src]="product.logoUrl"
              alt="Logo"
              class="object-cover w-10 h-10 rounded-md"
            />
            {{ product.name }}
          </div>
        </td>
        <td>
          <div>
            <p-button
              pTooltip="Covers"
              showDelay="100"
              hideDelay="100"
              icon="pi pi-camera"
              [rounded]="true"
              [text]="true"
              (click)="toPath(product.id, 'covers')"
            />

            <p-button
              pTooltip="Detail"
              showDelay="100"
              hideDelay="100"
              icon="pi pi-eye"
              [rounded]="true"
              [text]="true"
              (click)="toDetail(product.id)"
            />
            <p-button
              pTooltip="Schedule"
              showDelay="100"
              hideDelay="100"
              icon="pi pi-clock"
              [rounded]="true"
              [text]="true"
              (click)="toPath(product.id, 'schedule')"
            />
            <p-button
              pTooltip="Social Networks"
              showDelay="100"
              hideDelay="100"
              icon="pi pi-share-alt"
              [rounded]="true"
              [text]="true"
              (click)="toPath(product.id, 'social-networks')"
            />
            <p-button
              pTooltip="Contact Email"
              showDelay="100"
              hideDelay="100"
              icon="pi pi-envelope"
              [rounded]="true"
              [text]="true"
              (click)="toPath(product.id, 'emails')"
            />

            <p-button
              pTooltip="Contact Phone"
              showDelay="100"
              hideDelay="100"
              icon="pi pi-phone"
              [rounded]="true"
              [text]="true"
              (click)="toPath(product.id, 'phones')"
            />

            <p-button
              pTooltip="Edit Logo"
              showDelay="100"
              hideDelay="100"
              icon="pi pi-image"
              [rounded]="true"
              [text]="true"
              (click)="openEditLogo()"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
