<!-- Dynamic QR - Tema oscuro Festiva -->
<section>
  <!-- Encabezado -->
  <header class="mb-8">
    <h1 class="text-2xl font-semibold tracking-tight text-white">
      Códigos QR Dinámicos
    </h1>
    <p class="text-sm text-neutral-400">
      Resumen mensual ·
      <span class="font-medium text-p1">Octubre 2025</span>
    </p>
  </header>

  <!-- Lista de 2 elementos -->
  <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
    <!-- ITEM 1 -->
    @for (item of list; track $index) {

    <card-dynamic-qr
      [name]="item.name"
      [description]="item.description"
      [destinationUrl]="item.destination_url"
      [iosCount]="item.ios_count"
      [androidCount]="item.android_count"
      [otherCount]="item.other_count"
    />
    }
  </div>
</section>
