<div>
  <p-drawer
    [header]="artistSelected ? 'Editar Artista' : 'Crear Artista'"
    [(visible)]="showForm"
    position="right"
  >
    <drawer-form-artist
      (onSaved)="showForm = false; getArtists()"
      [artist]="artistSelected"
    />
  </p-drawer>

  <app-map />

  <div
    class="flex flex-col gap-4 mb-8 md:flex-row md:items-center md:justify-between"
  >
    <p-button (click)="newArtist()" label="Agregar" />
  </div>
  <div
    class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
  >
    @for (item of listArtists; track $index) {
    <card-artist
      class="w-full md:w-[280px] h-[320px]"
      [name]="item.name"
      [fotoUrl]="item.profileUrl"
      [description]="item.description"
      (toEdit)="editArtist(item)"
      (toDetail)="toDetail(item.id)"
      (toDelete)="deleteArtist(item.id)"
      (toSocialNetworks)="toSocialNetworks(item.id)"
      (toTags)="toTags(item.id)"
    />
    }
  </div>
</div>
