<p-button (click)="showDialog()" label="Añadir imagen" />

<p-dialog header="Agregar Imagen" [modal]="true" [(visible)]="visible">
  <div class="flex flex-col gap-4">
    <p-fileUpload
      mode="advanced"
      name="image"
      accept="image/*"
      maxFileSize="1000000"
      customUpload="true"
      (uploadHandler)="onUpload($event)"
      chooseLabel="Seleccionar"
      uploadLabel="Subir"
      cancelLabel="Cancelar"
    >
      <ng-template pTemplate="content">
        <div
          class="flex flex-col items-center justify-center p-4 border-2 border-dashed surface-border border-round"
        >
          @if(isLoading) {
          <div class="loader"></div>
          } @else {
          <p>Arrastra y suelta una imagen aquí o haz clic para seleccionar</p>
          }
        </div>
      </ng-template>
    </p-fileUpload>
  </div>
</p-dialog>
