<div class="flex flex-col gap-4">
  <p-dialog
    header="Agregar Club"
    [(visible)]="showForm"
    [modal]="true"
    [closable]="true"
    [style]="{ width: '400px' }"
    [breakpoints]="{ '768px': '95vw' }"
  >
    <add-club (onSave)="onSavedClub()" />
  </p-dialog>

  <app-club-location [(visible)]="visible" [clubId]="selectedClubId" />

  <div class="flex items-center justify-between">
    <p-button icon="pi pi-plus" label="Agregar" (click)="showForm = true" />
    <form (submit)="search()" class="flex items-center gap-3">
      <input
        type="text"
        pInputText
        name="filter"
        [(ngModel)]="filter"
        placeholder="Filtrar por nombre"
      />
      <p-button type="submit" icon="pi pi-search" label="Buscar" />
    </form>
  </div>
  @if (isLoading) {
  <div class="loader"></div>
  } @else {

  <p-table [value]="clubsFiltered" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th>Club</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template #body let-product>
      <tr>
        <td>
          <div class="flex flex-row items-center gap-2">
            <img
              [src]="product.logoUrl"
              alt="Logo"
              class="object-cover w-10 h-10 rounded-md"
            />
            {{ product.name }}
          </div>
        </td>
        <td>
          <div>
            <p-button
              pTooltip="Location"
              showDelay="100"
              hideDelay="100"
              icon="pi pi-map-marker"
              [rounded]="true"
              [text]="true"
              (click)="openDrawer(product.id)"
            />

            <p-button
              pTooltip="Phones"
              showDelay="100"
              hideDelay="100"
              icon="pi pi-phone"
              [rounded]="true"
              [text]="true"
              (click)="findPhones(product.id)"
            />
            <p-button
              pTooltip="Detail"
              showDelay="100"
              hideDelay="100"
              icon="pi pi-eye"
              [rounded]="true"
              [text]="true"
              (click)="toDetail(product.id)"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  }
</div>
