<div class="flex flex-col gap-4">
  <app-top title="Social Networks" />

  <div class="flex items-center gap-4">
    <p-select
      [options]="socialNetworks"
      [(ngModel)]="socialNetworkSelected"
      optionLabel="name"
      placeholder="Select a Social Network"
      class="w-full md:w-56"
    />
    <p-floatlabel variant="on">
      <input pInputText id="url" [(ngModel)]="url" autocomplete="off" />
      <label for="url">Url</label>
    </p-floatlabel>
    <p-button
      label="Add"
      icon="pi pi-plus"
      [disabled]="!url || !socialNetworkSelected"
      (onClick)="add()"
      [loading]="isLoadingSave"
    />
  </div>

  <p-table [value]="listClubSocialNetworks" [loading]="isLoading">
    <ng-template #header>
      <tr>
        <th>Social Network</th>
        <th>Url</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td>
          <div class="flex items-center gap-2">
            <img [src]="item.socialNetwork.logoUrl" alt="" />
            <span>{{ item.socialNetwork.name }}</span>
          </div>
        </td>
        <td>{{ item.url }}</td>
        <td>
          <p-button
            icon="pi pi-trash"
            [rounded]="true"
            (onClick)="remove(item.id)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
